.hero-container {
  background-color: #f8f3f0;
  /* width: 100%; */
  max-width: 100vw;
  padding: 3em;
  margin-inline: auto;
  /* border: 3px solid black; */
}

.hero-wrapper {
  display: flex;
  justify-content: space-between;

  margin: auto;
  justify-content: center;
}
.hero-text-wrapper {
  text-align: left;
  width: 40%;
}

.hero-img {
  float: right;
  margin-right: 10vw;
  width: 40%;
}
.hero-order-btn {
  float: left;
  margin-block: 2em;
}
