:root {
  --custom-font-style: italic;
}

.pricing-section * {
  text-align: center;
}
.prices {
  font-size: 1.5em;
  font-weight: bold;
  font-style: var(--custom-font-style);
  text-decoration: underline;
  text-decoration-style: dashed;
}
.pricing-desc {
  margin: auto;
  width: 80%;
  margin-block: 1.5em;
  font-weight: bold;
}
