.why-this-title {
  text-align: center;
}
.whythis-items {
  margin-block: 3em;
  display: flex;
  gap: 5em;
  justify-content: center;
}

.whythis-img {
  width: 30px;
}

.w-left-list .w-right-list li {
  list-style: none;
}

.w-list-item-title {
  position: relative;
  padding-inline: 24px; /* Adjust the padding to align the text content with the image */
  list-style-type: none;
  margin-block: 20px;
}

.w-list-item:before {
  content: "";
  position: absolute;
  top: 50%; /* Adjust the top position to vertically center the image */
  left: 0;
  margin-right: 20px;
  margin-block: 20px;
  width: 24px; /* Adjust the width to match the image size */
  height: 24px; /* Adjust the height to match the image size */
  background-image: url("./images/react-icon.png");
  background-size: cover;
}
